@import './RepositoriesPopover';

/* Woah! */
.kek {
    color: red;

    /* nah */
    &--wow {
        color: blue;
    }
}

/* Let's see how you handle global top-level classes! */
.theme-light .kek {
    color: red;
}

/* .repo-header { */
.repo-header {
    flex: none;
    padding: 0;
    align-items: stretch;
    border-color: var(--border-color);
    border-style: solid;

    &__logo {
        display: flex;
    }
}
